body{
    background-color: aliceblue;
}
.top_div{
    display: block;
    position: absolute;
    left: 35%;
    top: 15%;
}
.mid_top_div{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 5px;
    width: 400px;
    background-color: rgb(112, 243, 189);
}
.outer_div{
    display: block;
    justify-content: center;
    text-align: center;
    padding: 0px;
    width: 400px;
    /* position: absolute; */
    /* left: 35%; */
    height: 300px;
    /* top: 25%; */
    border-radius: 5px;
    background-color: white;
}
.main_div1{
    display: flex;
    justify-content:space-evenly;
    text-align: center;
    background-color:#e5f0f0;
    height: 33.3%;
    width: auto;
}
.main_div2{
    display: flex;
    justify-content:space-evenly;
    text-align: center;
    background-color: #e5f0f0;
    height: 33.3%;
    width: auto;
}
.main_div3{
    display: flex;
    justify-content:space-evenly;
    text-align:center;
    background-color:#e5f0f0;
    height: 33.3%;
    width: auto;
}
.inner_div1{
    display: block;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(99, 95, 95);
    border-radius: 5px;
    width: 33.3%;
}
.inner_div2{
    display: block;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(99, 95, 95);
    border-radius: 5px;
    width: 33.3%;
}
.inner_div3{
    display: block;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(99, 95, 95);
    border-radius: 5px;
    width: 33.3%;
}
.inner_div4{
    display: block;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(99, 95, 95);
    border-radius: 5px;
    width: 33.3%;
}
.inner_div5{
    display: block;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(99, 95, 95);
    border-radius: 5px;
    width: 33.3%;
}
.inner_div6{
    display: block;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(99, 95, 95);
    border-radius: 5px;
    width: 33.3%;
}
.inner_div7{
    display: block;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(99, 95, 95);
    border-radius: 5px;
    width: 33.3%;
}
.inner_div8{
    display: block;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(99, 95, 95);
    border-radius: 5px;
    width: 33.3%;
}
.inner_div9{
    display: block;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(99, 95, 95);
    border-radius: 5px;
    width: 33.3%;
}
.bottom_div1{
    display: flex;
    justify-content:space-evenly;
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 10px;
    /* position: absolute; */
    /* top: 50%;
    left: 38%; */
}
.bottom_div2{
    display: flex;
    justify-content:space-evenly;
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 10px;
    /* position: absolute; */
    /* top: 50%;
    left: 38%; */
}
button{
    margin-top: 5px;
    margin-bottom: 5px;
}
img{
    width: 100px;
    height: 95px;
}