body {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url(bg_image2.png);
    background-image: image-set(width:100%);
}

.upper_div {
    background-color: rgb(44, 220, 144);
    color: black;
    padding: 2px 2px 2px 2px;
    display: block;
    justify-content: center;
    text-align: center;
    width: auto;
    position: absolute;
    top: 30%;
    border-radius: 1px;
    opacity: 0.86;
}

input {
    margin-top: 2px;
    margin-bottom: 1.5px;
    border-radius: 20px;
    border: 0px;
    height: 40px;
    width: 50px;
    background-color: rgb(241, 244, 239);
    color: rgb(62, 192, 215);
    font-size: 25px;
    cursor: pointer;
}
th{
    margin-bottom: 10px;
    margin-right: 5px;
    text-align: right;
}
th input{
    width: 208px;
}